{% extends 'base/base.html' %}
{% load static %}

    <h1>Fitness Dashboard</h1>
    <div class="dashboard">
        <div class="widget">
            <h3>Weekly Reports</h3>
            <div id="weeklyReportsChart"></div>
        </div>
        <div class="widget">
            <h3>Generate Daily Report</h3>
            <a href="{% url 'daily_report' %}" class="btn">Generate Report</a>
        </div>
        <div class="widget">
            <h3>Log Daily Calorie Intake</h3>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Log Intake</button>
            </form>
        </div>
        <div class="widget">
            <h3>Log Weight</h3>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Log Weight</button>
            </form>
        </div>
    </div>