{% extends 'base/base.html' %}
{% block page_content %}
    <form id="createMealForm" method="GET">
        {% csrf_token %}
        <div class="form-container-meal">
            <p>{{ form.name.label_tag }}
                {{ form.name }}
            </p>
            <p>
                <label for="mealVariety">Meal Variety:</label>
                <select id="mealVariety" name="mealVariety">
                </select>
            </p>

            {% for field in form %}
                {% if field.name != 'name' %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endif %}
            {% endfor %}

        </div>

        <button type="button" onclick="searchFood()">Get Info</button>
        <button type="button" onclick="clearFood()">Clear</button>
        {% if show_add_ingredient_button %}
            <button type="button" id="add-ingredients">ADD Ingredients</button>
        {% endif %}

    </form>
    <script>
        function validateFields() {

            let caloriesInput = parseFloat(document.querySelector('#id_calories').value);

            if (caloriesInput === 0) {
                alert("Please make sure to fill out protein, carbs, and fats fields!");
                return false;
            }
            return true;
        }

        var foodData = {};

        function getFoodVarieties(foodName) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('/api/get_food_varieties/', {
                method: 'POST',
                body: JSON.stringify({food: foodName, index: document.getElementById('mealVariety').value}),
                headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(data => {
                var dropdown = document.getElementById('mealVariety');

                // Clear any existing options
                dropdown.innerHTML = '';

                // Populate dropdown with food varieties
                data.varieties.map(function (variety, index) {
                    var option = document.createElement('option');
                    option.text = variety;
                    option.value = index;
                    dropdown.add(option);
                });
            }).catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        document.getElementById('mealName').addEventListener('change', function () {
            getFoodVarieties(this.value);
        });

        document.getElementById('id_quantity').addEventListener('change', function () {
            searchFood(this.value)


        });

        function searchFood() {
            const selectedVarietyIndex = document.getElementById('mealVariety').selectedIndex
            const foodName = document.getElementById('mealName').value;
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('/api/get_food_info', {
                method: 'POST',
                body: JSON.stringify({food: foodName, index: selectedVarietyIndex}),
                headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(data => {

                foodData = data;

                let nutrientValues = {
                    calories: parseFloat(foodData.calories),
                    protein: parseFloat(foodData.protein),
                    carbohydrates: parseFloat(foodData.carbohydrates),
                    fats: parseFloat(foodData.fats)
                };

                let quantityInput = parseFloat(document.querySelector("#id_quantity").value);
                let caloriesInput = document.querySelector("#id_calories");
                let proteinInput = document.querySelector("#id_protein");
                let carbohydratesInput = document.querySelector("#id_carbohydrates");
                let fatsInput = document.querySelector("#id_fats");

                quantityInput = isNaN(quantityInput) ? 0 : quantityInput;
                nutrientValues.calories = isNaN(nutrientValues.calories) ? 0 : nutrientValues.calories;
                nutrientValues.protein = isNaN(nutrientValues.protein) ? 0 : nutrientValues.protein;
                nutrientValues.carbohydrates = isNaN(nutrientValues.carbohydrates) ? 0 : nutrientValues.carbohydrates;
                nutrientValues.fats = isNaN(nutrientValues.fats) ? 0 : nutrientValues.fats;

                caloriesInput.value = ((quantityInput * nutrientValues.calories) / 100).toFixed(2);
                proteinInput.value = ((quantityInput * nutrientValues.protein) / 100).toFixed(2);
                carbohydratesInput.value = ((quantityInput * nutrientValues.carbohydrates) / 100).toFixed(2);
                fatsInput.value = ((quantityInput * nutrientValues.fats) / 100).toFixed(2);
            })

                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        document.getElementById('mealVariety').addEventListener('change', function () {
            searchFood()
        })

        function clearFood() {

            let mealInput = document.querySelector('#mealName');
            let quantityInput = document.querySelector("#id_quantity");
            let caloriesInput = document.querySelector("#id_calories");
            let proteinInput = document.querySelector("#id_protein");
            let carbohydratesInput = document.querySelector("#id_carbohydrates");
            let fatsInput = document.querySelector("#id_fats");
            mealInput.value = '';
            quantityInput.value = 0;
            caloriesInput.value = 0;
            proteinInput.value = 0;
            carbohydratesInput.value = 0;
            fatsInput.value = 0;
        }

        const addButton = document.getElementById('add-ingredients');
        if (addButton) {
            addButton.addEventListener('click', function (event) {
                if (validateFields()) {
                    var mealId = {{ meal_id }};
                    var selectedIngredient = getSelectedIngredient();
                    addIngredientToMeal(mealId, selectedIngredient);
                }
                event.preventDefault();

            });
        }

        function addIngredientToMeal(mealId, selectedIngredient) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var url = `/meal_${mealId}/add_food/`;
            fetch(url, {
                method: 'POST',
                body: JSON.stringify({meal_id: mealId, selectedIngredient: selectedIngredient}),
                headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken},
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                }).then(data => {
                window.location.href = `/meal_${mealId}`
            }).catch(error => {
                console.error('There was a problem with the request:', error);
            });

        }

        function getSelectedIngredient() {
            let mealInput = document.querySelector('#mealName');
            let variety = document.querySelector('#mealVariety');
            let quantityInput = document.querySelector("#id_quantity");
            let caloriesInput = document.querySelector("#id_calories");
            let proteinInput = document.querySelector("#id_protein");
            let carbohydratesInput = document.querySelector("#id_carbohydrates");
            let fatsInput = document.querySelector("#id_fats");
            return {
                name: mealInput.value,
                var: variety.value,
                quantity: quantityInput.value,
                calories: caloriesInput.value,
                protein: proteinInput.value,
                carbohydrates: carbohydratesInput.value,
                fats: fatsInput.value,
            };
        }

    </script>
{% endblock %}