.calendar {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

/* Calendar styles */
.calendar table {
    border-collapse: collapse;
    width: 100%;
    height: 60vh;
    max-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.calendar th, td {
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
    text-align: center;
}

.calendar th {
    background-color: #4CAF50;
    color: #fff;
}

.calendar a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.calendar a:hover {
    background-color: #45a049;
}

.buttons-month {
    display: flex;
    justify-content: space-between;
}
.calendar h1 {
    display: block;
    text-align: center;
}