.createMealForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

#createMealForm input[type="text"],
#createMealForm input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#createMealForm button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

#createMealForm button:hover {
    background-color: #0056b3;
}

#createMealForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

#foodsContainer {
    margin-top: 20px;
}

.form-container-meal p{
    display: flex;
    margin-bottom: 10px;
}
.form-container-meal label {
    width:20%;
}

#createMeal a {
    width: 100%;     
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
}

#create-meal-form {   
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

#create-meal-form input[type="text"],
#create-meal-form input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}


#create-meal-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

#create-meal-form:hover {
    background-color: #0056b3;
}

#create-meal-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#add-ingredients button {
    width: 300px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

#add-ingredients button:hover {
    background-color: #0056b3;
}

#add-ingredients a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
}

#add-ingredients a:hover {
    background-color: #0056b3;
}

#add-ingredients {
    margin-top: 20px;
    padding: 0px;
    width: 300px;
}


.createMeal-container {
    display: flex;
    flex-direction: column;
}

.form-container-meal,
#add-ingredients {
    margin-bottom: 10px;
}


#edit-meal {
    width: 300px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

#edit-meal a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
}

.remove-ingredient-btn {
    padding: 10px 20px;
    margin-left: 20px;
    margin-top:20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

#delete-ingredients{
    width: 300px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
#delete-ingredients a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
}


#delete-meal { 
    width: 300px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
#delete-meal a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
}

.delete-meal-confirm {
    width: 300px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none;

}

