{% extends 'base/base.html' %}
{% block page_content %}

    <h1>{{ meal.name }}</h1>
    <div class="meal-info-container">
        {% for field, value in meal_dict.items %}
            {% if field != 'id' and field != 'user' and field != 'list_of_ingredients' %}
                <p><strong>{{ field|capfirst }}</strong>: {{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <h2><strong>Ingredients</strong>:</h2>
    <ul>
        {% for ingredient in meal.list_of_ingredients %}
            <li>
                <strong>{{ ingredient.name }}</strong> - {{ ingredient.quantity }} grams,
                Calories: {{ ingredient.calories|default:"0" }} kcal, Protein: {{ ingredient.protein|default:"0" }} g,
                Carbs: {{ ingredient.carbohydrates|default:"0" }} g, Fats: {{ ingredient.fats|default:"0" }} g
            </li>
        {% endfor %}
    </ul>
    {% if request.user == meal.user %}
        <button type="button" id="add-ingredients"><a href="{% url 'get_food_info' %}">ADD Ingredients</a></button>
        <button type="button" id="edit-meal"><a href="{% url 'edit_meal' pk=meal.id %}">Remove Ingredients</a></button>
        <button type="button" id="delete-meal"><a href="{% url 'delete_meal' pk=meal.id %}">Delete meal</a></button>
    {% endif %}




{% endblock %}